<!DOCTYPE html>
 <html>
 <div class = "box">
 <div class="six"><h1>CALCULATOR</h1>
 <div class="shf"><input type="button" class="button" (click)=" incrementby1one()" value="1">&nbsp;&nbsp;
 <input type="button" class="button" (click)=" incrementby1two()" value=
"1"><br><br>
 <input type="button" class="button" (click)=" incrementby2one()" value=
"2">&nbsp;&nbsp;
 <input type="button" class="button" (click)=" incrementby2two()" value=
"2"><br><br>
<input type="button" class="button" (click)=" incrementby3one()" value=
"3">&nbsp;&nbsp;
 <input type="button" class="button" (click)=" incrementby3two()" value=
"3"><br><br>
 <input type="button" class="button" (click)=" incrementby4one()" value=
"4">&nbsp;&nbsp;
 <input type="button" class="button" (click)=" incrementby4two()" value=
"4"><br><br>
 <input type="button" class="button" (click)=" incrementby5one()" value=
"5">&nbsp;&nbsp;
 <input type="button" class="button" (click)=" incrementby5two()" value=
"5"><br><br>
 <input type="button" class="button" (click)=" incrementby6one()" value=
"6">&nbsp;&nbsp;
 <input type="button" class="button" (click)=" incrementby6two()" value=
"6"><br><br>
 <input type="button" class="button" (click)=" incrementby7one()" value=
"7">&nbsp;&nbsp;
 <input type="button" class="button" (click)=" incrementby7two()" value=
"7"><br><br>
 <input type="button" class="button" (click)=" incrementby8one()" value=
"8">&nbsp;&nbsp;
 <input type="button" class="button" (click)=" incrementby8two()" value=
"8"><br><br>
 <input type="button" class="button" (click)=" incrementby9one()" value=
"9">&nbsp;&nbsp;
 <input type="button" class="button" (click)=" incrementby9two()" value=
"9"><br><br>
 <input type="button" class="button" (click)=" incrementby0one()" value=
"0">&nbsp;&nbsp;
 <input type="button" class="button" (click)=" incrementby0two()" value=
"0"><br><br>
 <input type="button" class="button" (click)="Add()" value="+">&nbsp;&nbsp;
 <input type="button" class="button" (click)="Subt()" value="-"><br><br>
 <input type="button" class="button" (click)="Prod()" value="*">&nbsp;&nbsp;
 <input type="button" class="button" (click)="Div()" value="/"><br><br>
 <input type="button" class="button" (click)="Fact()" value="f">&nbsp;&nbsp;
 <input type="button" class="button" (click)="Prime()" value="p"></div></div>
 </div>
 <div style="margin-left: 600px;"><mat-slide-toggle>
  <p style="color: blueviolet;">CLICK TO ACKNOWLEDGE WITH T&C</p>
</mat-slide-toggle><br>
<p style="color: blueviolet;">RATE US</p>
<mat-slider
  thumbLabel
  tickInterval="10"
  step="10"
  min="0"
  max="100"
  aria-label="units"></mat-slider><br>
<button mat-fab>CLICK</button></div>
 </html>
